* {
    padding: 0;
    margin: 0;
}

:root {
    --darkcolor: #2e2d33;
    --lightcolor: #dec26f;
}

nav {
    height: 100px;
    width: 100%;
    background-color: #2e2d33;
    display: flex;
}


.logo img {
    width: 170px;
    height: 100px;
    object-fit: cover;
}

.search-icon i {
    color: white;
    font-size: 24px;
    margin-top: 40px;
    margin-right: 40px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.modal-body input {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 20px;
    outline: none;
    width: 100%;
}

.custom-close {
    background: white;
    border: 3px solid #dec26f;
    color: #dec26f;
    font-weight: bold;
}

.custom-close:hover {
    background-color: #dec26f;
    color: white;
}

.custom-close:focus {
    background: white;
    border: 3px solid #dec26f;
    color: #dec26f;
}

.custom-close:active {
    background: white;
    border: 3px solid #dec26f;
    color: #dec26f;
}

.custom-save {
    background-color: #dec26f;
    color: #dec26f;
    color: white;
    border: 3px solid #dec26f;
}

.custom-save:hover {
    background-color: white;
    border: 3px solid #dec26f;
    color: #dec26f;
}


.image img {
    width: 100%;
    max-width: 400px;
    padding: 40px 0 0 0;
}

.details {
    display: flex;
    padding: 80px 0 0 0;
    flex-wrap: wrap;
    width: 100%;
}

.details .exclusive {
    font-size: 16px;
    text-transform: uppercase;
}

.stars {
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.details h1 {
    font-size: 35px;
    padding-top: 10px;
    padding-right: 90px;
}

.cancel-price {
    text-transform: capitalize;
    padding-top: 25px;
    font-size: 17px;
    font-weight: 500;
    opacity: 0.5;
    text-decoration: line-through;
}

.discount-price {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
    margin-top: -22px;
}

.color {
    text-transform: capitalize;
    font-size: 16px;
}

.watch-image {
    width: 100%;
    max-width: 90px;
    object-fit: cover;
    border: 1px solid #f4f4f4;
}

.watch-details {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.buy-now {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    background-color: #2e2d33;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 130px;
    text-transform: uppercase;
    font-weight: 600;
}

.buy-now:hover{
    border: 3px solid #2e2d33;
    background-color: white;
    color:#2e2d33;
}

.buy-now:active{
    color: white;
    background-color: #2e2d33;
}