* {
    padding: 0;
    margin: 0;
}

:root {
    --darkcolor: #2e2d33;
    --lightcolor: #dec26f;
}

.navbar {
    background-color: #2e2d33;
    position: fixed;
    width: 100%;
}

.logo {
    object-fit: cover;
}

.navbar-toggler {
    border-color: var(--lightcolor);
    color: #dec26f !important;
}

.navbar-toggler:focus {
    color: #dec26f;
    box-shadow: none;
}


.nav-link.active {
    color: white !important;
    text-decoration: underline;
}

.custom-link {
    color: #dec26f;
    font-size: 20px;
}

.custom-link:hover {
    color: #dec26f;
}

.custom-link:focus {
    color: #dec26f;
}

@media screen and (min-width:768px) {
    .custom-link {
        margin-right: 20px;
    }
}

@media screen and (min-width:425px) {
    .custom-link {
        padding-left: 20px;
    }
}

@media screen and (min-width:375px) {
    .custom-link {
        padding-left: 20px;
    }
}

@media screen and (min-width:320px) {
    .custom-link {
        padding-left: 20px;
    }
}

.box-1 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-2 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-3 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-4 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-5 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-6 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-7 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.box-8 {
    margin-top: 130px;
    width: 300px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: 10px;
}

.card-logo {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.custom-images {
    width: 100%;
}

.watch-name {
    margin-top: 20px;
    font-size: 24px;
    margin-left: 20px;
    font-family: sans-serif;
}

.stars {
    padding-left: 20px;
    margin-top: 10px;
    display: flex;
}

.reviews {
    margin-left: 10px;
    margin-top: -5px;
}

.details {
    margin-left: 20px;
}

.cost {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    margin-top: -4px;
}

.c-btn {
    text-decoration: none;
    border: 1px solid black;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 0 20px;
    padding: 10px 0 10px 0;
    border-radius: 50px;
    color: white;
    background-color: #2e2d33;
    text-transform: capitalize;
    margin-top: -4px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-2 {
        margin-left: 100px;
    }
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-3 {
        margin-left: 200px;
    }
}


@media (min-width:1024px) and (max-width:1025px) {
    .box-4 {
        margin-top: 1000px;
        margin-left: -740px;
    }
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-5 {
        margin-left: 350px;
        margin-top: -820px;
    }
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-6 {
        margin-left: 450px;
        margin-top: -820px;
    }
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-7 {
        margin-top: 50px;
        margin-left: -490px;
    }
}

@media (min-width:1024px) and (max-width:1025px) {
    .box-8 {
        margin-left: -400px;
        margin-top: 50px;
    }
}

@media (min-width:768px) and (max-width:769px) {
    .box-2 {
        margin-left: 70px;
    }
}

@media (min-width:768px) and (max-width:769px) {
    .box-4 {
        margin-left: 195px;
    }
}

@media (min-width:768px) and (max-width:769px) {
    .box-6 {
        margin-left: 70px;
    }
}

@media (min-width:768px) and (max-width:769px) {
    .box-8 {
        margin-left: 70px;
    }
}

@media (min-width:320px) and (max-width:321px) {

    .box-1{margin-left: -3px;}

    .box-2{margin-left: -3px;}

    .box-3{margin-left: -3px;}

    .box-4{margin-left: -3px;}

    .box-5{margin-left: -3px;}

    .box-6{margin-left: -3px;}

    .box-7{margin-left: -3px;}

    .box-8{ margin-left: -3px;}

}

@media (min-width:375px) and (max-width:376px) {

    .box-1{margin-left: 25px;}

    .box-2{margin-left: 25px;}

    .box-3{ margin-left: 25px;}

    .box-4{margin-left: 25px;}
    
    .box-5{margin-left: 25px;}

    .box-6{margin-left: 25px;}

    .box-7{margin-left: 25px;}

    .box-8{margin-left: 25px;}
}

@media (min-width:425px) and (max-width:426px) {
    
    .box-1{margin-left: 50px;}

    .box-2{margin-left: 50px;}

    .box-3{margin-left: 50px;}

    .box-4{margin-left: 50px;}

    .box-5{margin-left: 50px;}

    .box-6{margin-left: 50px;}

    .box-7{margin-left: 50px;}

    .box-8{margin-left: 50px;}

}
